@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  overflow-x: hidden;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.75s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: scale(0.99) translateY(-1%);
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: all 0.75s;
}

.slide-up-enter, .slide-up-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

.section-enter-active, .section-leave-active {
  transition: all 0.75s;
}

.section-enter/*, .section-leave-to */ {
  /* opacity: 0; */
  transform: translateY(100%);
}

.section-reverse-enter-active, .section-reverse-leave-active {
  transition: all 0.5s;
}

.section-reverse-enter/*, .section-leave-to */ {
  /* opacity: 0; */
  transform: translateY(-100%);
}

.slider-enter-active, .slider-leave-active {
  transition: all 1s;
  opacity: 1;
}

.slider-enter, .slider-leave-to {
  opacity: 0;
  transform: scale(0.99) translateY(-1%);
}

.text-enter-active, .text-leave-active {
  transition: all 0.75s;
}

.text-enter, .text-leave-to {
  transform: translateY(100%);
  clip-path: margin-box;
}

.nuxt-link-exact-active {
  /*  */
}

.scrollbars::-webkit-scrollbar {
  width: 2px;
}
.scrollbars::-webkit-scrollbar-track {
  background-color: #cccccc;
}
.scrollbars::-webkit-scrollbar-thumb {
  background-color: #111;
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 30px;
  }
}